@using ChatManager.Models
@model List<ChatManager.Models.User>
@{
    ViewBag.Title = "GetFriendList";
}



    @foreach (var item in Model)
    {

       
        var Url = new System.Web.Mvc.UrlHelper(HttpContext.Current.Request.RequestContext);
        var avatarUrl = Url.Content(item.GetAvatarURL());
        <div class="unselectedTarget">

            <div class="UserSmallAvatar" style="background: url(@avatarUrl)"></div>


        </div>

    }

@section Scripts {
    <script defer>


       
         






    </script>
}