@using ChatManager.Models
@model List<ChatManager.Models.User>
@{
    ViewBag.Title = "GetFriendList";
}



@foreach (var item in Model)
{



    var Url = new System.Web.Mvc.UrlHelper(HttpContext.Current.Request.RequestContext);
    var avatarUrl = Url.Content(item.GetAvatarURL());

    User user = (ChatManager.Models.User)Session["CurrentTarget"];


    if (item == user)
    {
        <div class="selectedTarget" userid="@item.Id">

            <div class="UserSmallAvatar" style="background: url(@avatarUrl)"></div>


        </div>

    }
    else
    {
        <div class="unselectedTarget" userid="@item.Id">

            <div class="UserSmallAvatar" style="background: url(@avatarUrl)"></div>


        </div>

    }



}



@section Scripts {
    <script defer>










    </script>
}