@model ChatManager.Models.ChatView

@{
    ViewBag.Title = "GetMessages";
}
<div class="messagesHeader">

    @if (ViewBag.CurrentTargetId != null)
    {

        //  var currentTarget = Model.FirstOrDefault(u => u.Id == ViewBag.CurrentTargetId);
        <h4> Avatar</h4>
    }
    else
    {
        // Console.WriteLine(ViewBag.CurrentTargetId);
        <h4>Sélectionnez un ami</h4>
    }
</div>
