@using ChatManager.Models
@model IEnumerable<ChatManager.Models.Message>
@{
    ViewBag.Title = "GetMessages";

}



<div class="messagesHeader">


    @if (Session["CurrentTarget"] != null)
    {
        User user = (ChatManager.Models.User)Session["CurrentTarget"];
       
        @Helper.convUserChat(user);

    }
    else
    {
        <h4>Sélectionnez un ami</h4>
    }




</div>
<div>


</div>
