@using ChatManager.Models
@model IEnumerable<ChatManager.Models.Message>
@{
    ViewBag.Title = "GetMessages";

}



<div class="messagesHeader">


    @if (Session["CurrentTarget"] != null)
    {
        User user = (ChatManager.Models.User)Session["CurrentTarget"];
        @Helper.convUserChat(user);

    }
    else
    {
        <h4>Sélectionnez un ami</h4>
    }

</div>

<div>
    @foreach (var item in Model)
    {
        User user = (ChatManager.Models.User)Session["CurrentTarget"];
        if (Session["CurrentTarget"] != null)
        {
            if (item.IdUserOther == user.Id)
            {

                <div class="sentLayout">
                    <div class="sent">
                        <span>@helper.ParseContent(@item.Text)</span>

                    </div>

                </div>


            }
            else if(item.IdUserMain == OnlineUsers.GetSessionUser().Id)
            {
                <div class="receivedLayout">
                    <div class="received">
                        <span> @item.Text</span>

                    </div>

                </div>


            }

        }


    }


</div>
