@model ChatManager.Models.ChatView

@{
    ViewBag.Title = "Index";
}

<div style="align-items: center; display: grid; grid-template-columns: 65px auto; ">
    <img src="~/favicon.png" style=" width: 56px;" />
    <h3>Salle de discussions</h3>
</div>
<hr />

<div>

    <div>
     
        <div>

        </div>
      
        <div>

        </div>

    </div>
</div>