@using ChatManager.Models
@model List<ChatManager.Models.User>

@{
    ViewBag.Title = "Friendships";
}


<table class="table">


    @foreach (var item in Model)
    {
        //First User is the one scrolling
        if (item != Model[0])
        {
            FriendshipStatus status = Model[0].GetStatus(item);
            <tr class="@status.ToString()">
                <td>
                    @Helper.UserRow(Model[0], item)
                    
                </td>
                
            </tr>
        }
    }

</table>