@model IEnumerable<ChatManager.Models.User>

@{
    ViewBag.Title = "Friendships";
}


<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            
          
            @Helper.UserRow(item.User, item.GetRelation(item.User) , false)
              
            <div>

            </div>

        </td>
        <td>
           
        </td>
    </tr>
}

</table>
