@model ChatManager.Models.FriendshipsView

@{
    ViewBag.Title = "Index";
}




<div>
  
    <div style="align-items: center; display: grid; grid-template-columns: 65px auto; ">
        <img src="~/friendships.png" style=" width: 56px;" />
        <h2>Gestion des amitiés</h2>
    </div>
    <hr />
    <div style="display: grid; grid-template-columns: 295px 35px; column-gap: 10px; margin-bottom: 10px;">
        <input type="search" placeholder="recherche..." class="form-control"/>
        <span class="icon fa fa-search" style="margin-top: 5px;"></span>
    </div>

    <div class="friendfilters">

        <input type="checkbox" class="filter" />
        <label class="fa green fa-plus-circle" titre=" test"></label>

        <input type="checkbox" class="filter" />
        <label class="fa green fa-check" titre=" test"></label>

        <input type="checkbox" class="filter" />
        <label class="fa green fa-clock-o" titre=" test"></label>

        <input type="checkbox" class="filter" />
        <label class="fa green fa-check-circle" titre=" test"></label>

        <input type="checkbox" class="filter" />
        <label class="fa red fa-times-circle" titre=" test"></label>

        <input type="checkbox" class="filter" />
        <label class="fa red fa-ban" titre=" test"></label>

    </div>
    <hr />

    <div class="main">
        <div id="friendshipsListContainer" >
            @Helper.UserRow(Model.User,Model.Relations[0],false)
        </div>

    </div>

</div>